dnspython==1.16.0
Click==7.0
Flask==1.0.2
jinja2==2.10
MarkupSafe==1.1.1
Werkzeug==0.15.1
ioloop==0.1a0
itsdangerous==1.1.0
pip==19.0.3
setuptools==28.8.0
toml==0.10.0
tornado==6.0.1
pymongo[tls,srv]==3.7.2
flask-cors==3.0.4